body {
  font-family: Poppins, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
}

a {
  color: #00ffff;
  text-decoration: none;
}

fieldset {
  margin: 30px auto;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #00ffff;
  padding: 10px;
}

#chat-box {
  height: 150px;
  overflow-y: auto;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}
